<!DOCTYPE html>
<html>
  <head>
    <title>Add Operator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
<nav class="navbar navbar-default bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/operator/add">Add Operator</a></li>
      <li><a href="/tags/add">Add Tags</a></li>
      <li><a href="/prepaidplans">Prepaid</a></li>
      <li><a href="/dthplans">DTH</a></li>
      <li><a href="/whatsapp" target="_blank">WhatsApp</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
