<!--
      <!- Lapu Section ->
      <section
        style="border: 1px solid #ddd; padding: 20px;  margin-bottom: 40px; border-radius: 8px"
      >
        <h3
          style="
            border-bottom: 2px solid #f39c12;
            padding-bottom: 8px;
            margin-bottom: 20px;
            color: #f39c12;
          "
        >
          Lapu
        </h3>
        <div class="row">
          <div class="col-md-3">
            <div class="stat-box">
              <div class="stat-number"><%= totalLapuCount %></div>
              <div class="stat-label">Total Lapu</div>
            </div>
          </div>
        </div>
      </section>
-->